@media (min-width:200px) and (max-width:991px) {
    .services .pagarrs{
        font-size: 16px;
        width: 90%;
    }
    .specialities{
            .owl-carousel{
                width: 180% !important;
                .owl-nav{
                    justify-content: start !important;
                    right: -33% !important;
                }
            }
            .item{
                width: 500px !important; 
                margin: 1rem !important;
                .card{
                    padding: initial 2rem !important;
                }
            }
    }
    .testimonials{
        .testimonial{
            font-size: 40px;
            width: 100% !important;
        }
        .pagarrs{
            width: 100%;
        }
        .owl-carousel2{
            .testimonial-card{
                flex-direction: column !important;
                img{
                    width: 50% !important;
                    margin: 0 auto !important;
                }
            }
        
        }
    }
    .faq{
        .testimonial{
            font-size: 40px;
            text-align: center !important;
       }
    }
}
